@model FilmTanitim.Models.Movie

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 style="text-align:center;" class="text-primary">@Html.DisplayFor(model => model.MovieName)</h2>
<br />

<div class="row">
    <div style="text-align:center">
        <img src="@Model.MovieImage" style="width:200px;height:300px;text-align:center">
    </div>
</div>
<br />
<div class="row">
    @Html.DisplayFor(model => model.MovieDescription)
</div>
<br />
<div class="row">
    <div class="col-6">
        <h5 class="text-success"><b>Kategori : </b>@Html.DisplayFor(model => model.Category.CategoryName)</h5>
    </div>
    <div class="col-6">
        <div style="float:right" id="rateYo"></div>
    </div>

</div>
<br />

<br />
<br />
<br />
<br />

<h4 class="text-success" style="text-align:center;">YORUMLAR</h4>
@await Component.InvokeAsync("YorumListeleme")

<h4 class="text-success"><a asp-controller="Comments" asp-action="Create" class="btn btn-warning">Yorum Ekle</a></h4>

@*<form asp-controller="Yorum" asp-action="Create" method="post" style="background-color:gainsboro;border-style:groove">
        <input type="hidden" id="@Model.MovieId"/>
        <div class="col-3">
            <label for="exampleInputEmail1" class="form-label">Başlık</label>
            <input type="text" class="form-control" id="CommentTitle" aria-describedby="emailHelp">
        </div>
        <div class="col-12">
            <label for="exampleInputPassword1" class="form-label">Yorum</label>
            <input type="text" class="form-control" style="height:100px" id="CommentDescription">
        </div><br />
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Ekle</button>
        </div><br />
    </form>*@
<br />
<br />
<script>
    $(function () {

        $("#rateYo").rateYo({
            rating: "65%",
            readOnly: true
        });
    });

</script>
